<script>
    document.cookie = signatureUrl;
</script>
<!DocType html>
<html>
	<head>
		<title>Login</title>
	</head>
	<body>
		<h1>Login</h1>
		<form action="" method="POST">
			<div>
				<label for= "email">Email</label>
				<input type="text" id="email" name="email" required>
			</div>
			<div>
				<label for= "password">Password</label>
				<input type="password" id="password" name="password" required>
			</div>
			<button type="submit">Login</button>
		</form>
		<a href="/registrar">Register</a>
		<a href="/inicio">Inicio</a>
	</body>
</html>